@CHARSET "UTF-8";

body {
	font-family:Arial,Helvetica,sans-serif,"宋体"
}


.bms-form {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #efefef;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

[class^="splashy-"], [class*=" splashy-"] {
    margin-top: 0.5px;
}

/*
label, input, button, select, textarea, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .btn {
    font-size: 15px;
}
*/

label{
	font-size: 15px;
}

