<div class="span12">
        <h3 class="heading">模块信息</h3>
		<div class="row-fluid">
			<div class="span8">
				<%form name="module_info" action="/admin/modules/Edit" method="POST" class="form-horizontal"%>
					<fieldset>
						<div class="control-group formSep">
							<label class="control-label" for="module_name">模块名</label>
							<div class="controls">
								<input type="text" name="module_name"  value="<%$module->module_name%>" class="input-xlarge" id="module_name">
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label" for="module_name">排序</label>
							<div class="controls">
								<input type="text" name="ordering"  value="<%$module->ordering%>" class="input-xlarge" id="ordering">
							</div>
						</div>
			
						<div class="control-group formSep">
							<label class="control-label" for="controller">控制器</label>
							<div class="controls">
								<input type="text" name="controller"  value="<%$module->controller%>" class="input-xlarge" id="controller">
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label" for="action">action</label>
							<div class="controls">
								<input type="text" name="action"  value="<%$module->action%>" class="input-xlarge" id="action">
							</div>
						</div>
					
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-gebo">保  存</button>
								<button type="button" class="btn" onClick="eric.common.go();">Cancel</button>
							</div>
						</div>
						<input type="hidden" name="module_id" id="module_id" value="<%$module->module_id%>">
					</fieldset>
				<%/form%>
			</div>
		</div>
</div>
<%if $module && $module->is_action==0%>
<div class="span8">
	<h3 class="heading">子模块</h3>
        
	<div role="grid" class="dataTables_wrapper form-inline" id="dt_gal_wrapper">
        <div class="row">
        	<div class="span6">
        		<a href="/admin/modules/cModuleAdd?pid=<%$module->module_id%>"><i class="splashy-add"></i></a>
    			<div  class="dataTables_length">
    				
    						
    						
    			</div>
    		</div>
    	</div>
        
        
		<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>模块名称</th>
					<th>控制器</th>
					<th>action</th>
					<th>排序</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<%foreach from=$cmodules item=module%>
				<tr>
					<td><%$module->module_id%></td>
					<td><%$module->module_name%></td>
					<td><%$module->controller%></td>
					<td><%$module->action%></td>
					<td><%$module->ordering%></td>
					<td class=" ">
						<a title="Edit" class="sepV_a" href="/admin/modules/ModuleInfo?id=<%$module->module_id%>"><i class="icon-pencil"></i></a>
					</td>
				</tr>
				<%/foreach%>
				
			</tbody>
		</table>
	</div>	
</div>
<%/if%>