<div class="span12">
        <h3 class="heading">User Profile (static)</h3>
		<div class="row-fluid">
			<div class="span12">
				<div class="vcard">
					<img alt="" src="http://www.placehold.it/80x80/EFEFEF/AAAAAA" class="thumbnail">
					<ul>
						<li class="v-heading">
							用户信息
						</li>
						<li>
							<span class="item-key">用户名</span>
							<div class="vcard-item"><%$user->user_name%></div>
						</li>
						<li>
							<span class="item-key">Email</span>
							<div class="vcard-item"><%$user->user_email%></div>
						</li>
						<li>
							<span class="item-key">Gender</span>
							<div class="vcard-item">Male</div>
						</li>
						<li>
							<span class="item-key">Languages:</span>
							<div class="vcard-item">
								<ul class="list_a">
									<li>English</li>
									<li>French</li>
									<li>German</li>
								</ul>
							</div>
						</li>
						<li>
							<span class="item-key">Signature</span>
							<div class="vcard-item">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id quam orci, in ornare sapien. Nulla ultrices vestibulum erat a ullamcorper. Fusce eu nisl at nulla tempus posuere.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>	
    </div>