<div class="span12">
        <h3 class="heading">用户信息</h3>
		<div class="row-fluid">
			<div class="span8">
				<%form name="userinfo" action="/admin/user/userEdit" method="POST" class="form-horizontal"%>
					<fieldset>
						<div class="control-group formSep">
							<label class="control-label" for="user_name">用户名</label>
							<div class="controls">
								<input type="text" name="user_name"  value="<%c v=$user->user_name %>" class="input-xlarge" id="u_fname">
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label" for="user_email">Email</label>
							<div class="controls">
								<input type="text" name="user_email" value="<%$user->user_email%>" class="input-xlarge" id="u_email">
							</div>
						</div>
						<%if !$user%>
						<div class="control-group formSep">
							<label class="control-label" for="u_password">Password</label>
							<div class="controls">
								<div class="sepH_b">
									<input type="password"  name="password" value="" class="input-xlarge" id="u_password">
								</div>
							</div>
						</div>
						<%/if%>
						<div class="control-group formSep">
							<label class="control-label">用户角色:</label>
							<%checkbox data=$user_roles name="role_name" id="role_id" %>
						</div>
						<div class="control-group formSep">
							<label class="control-label">Gender</label>
							<div class="controls">
								<label class="radio inline">
									<input type="radio" checked="checked" name="f_gender" id="s_male" value="male">
									Male
								</label>
								<label class="radio inline">
									<input type="radio" name="f_gender" id="s_female" value="female">
									Female
								</label>
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label" for="u_signature">Signature</label>
							<div class="controls">
								<textarea class="input-xlarge" id="u_signature" rows="4" style="overflow: hidden; word-wrap: break-word; max-height: 80px; min-height: 80px; height: 80px;">Lorem ipsum…</textarea>
								<span class="help-block">Automatic resize</span>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-gebo">Save changes</button>
								<button type="button" class="btn" onClick="eric.common.go();">Cancel</button>
							</div>
						</div>
						<input type="hidden" name="user_id" id="user_id" value="<%$user->user_id%>">
					</fieldset>
				<%/form%>
			</div>
		</div>
    </div>