<%require file="sales.cproduct.appoint_info"%>
<div role="grid" class="dataTables_wrapper form-inline" id="dt_gal_wrapper">
       
        
		<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>产品名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<%foreach from=$products item=item%>
				<tr>
					<td><%$item->product_id%></td>
					<td><%$item->name%></td>
					<td class=" ">
						<a title="产品详情" id="product_detail" href="/product/manage/CustomerStatic?id=<%$item->product_id%>&cid=<%$customer_id%>" class="sepV_a"><i class="icon-eye-open"></i></a>
						<%if $customer_id%>
						<a title="预约" id="product_appoint" onClick="product_appoint(<%$item->product_id%>)"  data-toggle="modal" data-backdrop="static" href="#approval_appoint" class="splashy-group_green_add"></a>
						<%else%>
						<a title="预约" id="product_appoint"  data-toggle="modal" data-backdrop="static" href="/sales/cproduct/AddAppointInfo?pid=<%$item->product_id%>" class="splashy-contact_blue_add"></a>
						<%/if%>
					</td>
				</tr>
				<%/foreach%>
				
			</tbody>
		</table>
	</div>
	
<%javascript%>  
function product_appoint(pid)
{
	eric.cproduct.id = pid;
}
<%/javascript%>  