<a href="javascript:void(0)" class="sidebar_switch on_switch ttip_r" title="Hide Sidebar">Sidebar switch</a>
<div class="sidebar">
	
	<div class="antiScroll">
		<div class="antiscroll-inner">
			<div class="antiscroll-content">
		
				<div class="sidebar_inner">
					<form action="index.php?uid=1&amp;page=search_page" class="input-append" method="post" >
						<input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
					</form>
					<div id="side_accordion" class="accordion">
						<%foreach $user_modules as $id=>$modules %>
						<div class="accordion-group">
							<div class="accordion-heading <%if $selected_module->parent_module_id==$id%>sdb_h_active<%/if%>">
								<a href="#collapse<%$id%>" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-leaf"></i> <%$modules_detail.$id->module_name%>
								</a>
							</div>
							<div class="accordion-body collapse <%if $selected_module->parent_module_id==$id%>in<%/if%>" id="collapse<%$id%>">
								<%foreach $modules as $mid%>
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li <%if $mid==$selected_module->module_id%>class="active"<%/if%>><a href="/<%$modules_detail.$mid->href%>"><%$modules_detail.$mid->module_name%></a></li>
									</ul>
								</div>
								<%/foreach%>
							</div>
						</div>
						<%/foreach%>
						
						<div class="accordion-group">
							<div class="accordion-heading <%if $selected_module->href=='custom/pass/info'%>sdb_h_active<%/if%>">
								<a href="#collapseCustom" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-cog"></i> 个人设置
								</a>
							</div>
							<div class="accordion-body collapse <%if $selected_module->href=='custom/pass/info'%>in<%/if%>" id="collapseCustom">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li <%if $selected_module->href=='custom/pass/info'%>class="active"<%/if%>><a href="/custom/pass/info">密码修改</a></li>
									</ul>
                                    
								</div>
							</div>
						</div>
						
						
						
						<!-- 
						<div class="accordion-group">
							<div class="accordion-heading sdb_h_active">
								<a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-leaf"></i> 产品管理
								</a>
							</div>
							<div class="accordion-body collapse in" id="collapseOne">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li><a href="/product/list">产品列表</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-user"></i> 销售管理
								</a>
							</div>
							<div class="accordion-body collapse" id="collapseTwo">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li><a href="/sales/customer/list">客户管理</a></li>
										<li><a href="javascript:void(0)">产品预约</a></li>
										<li><a href="javascript:void(0)">销售跟踪</a></li>
										<li><a href="javascript:void(0)">消息推送</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-th"></i> 流程管理
								</a>
							</div>
							<div class="accordion-body collapse" id="collapseThree">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li><a href="javascript:void(0)">发文管理</a></li>
										<li><a href="javascript:void(0)">发文流程设置</a></li>
									</ul>
                                    
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-cog"></i> 系统管理
								</a>
							</div>
							<div class="accordion-body collapse" id="collapseFour">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li><a href="/admin/role/list">角色管理</a></li>
										<li><a href="/admin/modules/list">权限管理</a></li>
										<li><a href="/admin/user/list">用户管理</a></li>
									</ul>
                                    
								</div>
							</div>
						</div>
						
						
						 -->
						
						
						
						
						
						
  

					</div>
					
					<div class="push"></div>
				</div>
				   
				<div class="sidebar_info">
					<ul class="unstyled">
						<li>
							<span class="act act-warning">65</span>
							<strong>New comments</strong>
						</li>
						<li>
							<span class="act act-success">10</span>
							<strong>New articles</strong>
						</li>
						<li>
							<span class="act act-danger">85</span>
							<strong>New registrations</strong>
						</li>
					</ul>
				</div> 
			
			</div>
		</div>
	</div>

</div>
