<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">产品详情</h3>
		<div class="row-fluid">
					<div class="control-group" align="right">
						<div class="controls">
						<!-- 
							<a href="/sales/cproduct/AddAppointInfo?pid=<%$product->product_id%>" class="btn btn-gebo">预约</a>
							 --><button type="button" class="btn" onClick="eric.common.go();">返回</button>
						</div>
					</div>
			<div class="span12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#base_info" data-toggle="tab">基本信息</a></li>
					<li><a href="#publish_info" data-toggle="tab">发行信息</a></li>
					<li><a href="#extra_info" data-toggle="tab">扩展信息</a></li>
					<li><a href="#files" data-toggle="tab">附件信息</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="base_info">
						
						<%require file="product.manage.base_info_static"%>
					</div>
					<div class="tab-pane" id="publish_info">
						<%require file="product.manage.publish_info_static"%>
					</div>
					<div class="tab-pane" id="extra_info">
						<%require file="product.manage.extra_info_static"%>
					</div>
					<div class="tab-pane" id="extra_info">
						<%require file="product.manage.extra_info_static"%>
					</div>
					<div class="tab-pane" id="files">
						<%require file='product.manage.static_files'%>
					</div>
				</div>		
				
			</div>
		</div>	
    </div>
</div>