<div class="control-group formSep">
	<label class="control-label" for="finance_companies_info">融资公司介绍</label>
	<div class="controls">
		<textarea class="input-xxlarge" name="finance_companies_info" id="finance_companies_info" rows="4" style="overflow: hidden; word-wrap: break-word; max-height: 80px; min-height: 80px; height: 80px;"><%$extra_info->finance_companies_info%></textarea>
	</div>
</div>
<div class="control-group formSep">
	<label class="control-label" for="finance_companies_info">项目优势</label>
	<div class="controls">
		<textarea class="input-xxlarge" name="project_advantage" id="project_advantage" rows="4" style="overflow: hidden; word-wrap: break-word; max-height: 80px; min-height: 80px; height: 80px;"><%$extra_info->project_advantage%></textarea>
	</div>
</div>
<div class="control-group formSep">
	<label class="control-label" for="risk_disclosure_statement">风险声明及控制</label>
	<div class="controls">
		<textarea class="input-xxlarge" name="risk_disclosure_statement" id="risk_disclosure_statement" rows="4" style="overflow: hidden; word-wrap: break-word; max-height: 80px; min-height: 80px; height: 80px;"><%$extra_info->risk_disclosure_statement%></textarea>
	</div>
</div>