<div class="span8" id="uploaded_files">
</div>

<%if $product->status<=0%>
<div>
<div class="span8 formSep">
    <div id="multi_upload" class="gebo-upload">
        <p>You browser doesn't have Flash, Silverlight or HTML5 support.</p>
    </div>
</div>
</div>
<%/if%>
<%asset css="lib/plupload/js/jquery.plupload.queue/css/plupload-gebo.css"%>
<%asset js="lib/plupload/js/plupload.full.js"%>
<%asset js="lib/plupload/js/jquery.plupload.queue/jquery.plupload.queue.full.js"%>

<%javascript%>  
var pid = <%$product->product_id%>;

eric.request.ajaxLoad('/product/manage/ProductFiles','uploaded_files',{id:pid});
eric.product_files = {};
eric.product_files.deleteSuccess = function(){
	alert('删除成功');
	eric.request.ajaxLoad('/product/manage/ProductFiles','uploaded_files',{id:pid});
}

<%if $product->status<=0%>
$("#multi_upload").pluploadQueue({
	// General settings
	runtimes : 'html5,flash,silverlight,html4',
	url : '/site/upload?id='+pid+'&token=' + eric.cookie.getCookie('token'),
	//url : '/upload.php',
	max_file_size : '20mb',
	chunk_size : '1mb',
	unique_names : true,
	browse_button : 'pickfiles',
	rename:false,
	
	// Specify what files to browse for
	/*
	filters : [
	    {title : "text files", extensions : "txt,pdf"},
	    {title : "Zip files", extensions : "zip"}
	],
	*/
	// Flash settings
	flash_swf_url : '<%$res%>/lib/plupload/js/plupload.flash.swf',
	
	// Silverlight settings
	silverlight_xap_url : '<%$res%>/lib/plupload/js/plupload.silverlight.xap',
	preinit : {
		UploadFile: function(up, file) {
              		//  alert(file.name);
            }
	
	},
	init : {
		PostInit: function() {
		    // Called after initialization is finished and internal event handlers bound
		    //log('[PostInit]');
		     
		    document.getElementById('uploadfiles').onclick = function() {
		    	//alert('1111');
		        //uploader.start();
		        //return false;
		    };
		},
		
		FilesAdded: function(up, files) {
		    plupload.each(files, function(file) {
		         // alert(file.name);
		    });
		},
		
		BeforeUpload: function(up, file, info) {
			up.settings.url = '/site/upload?id='+pid+'&token=' + eric.cookie.getCookie('token')+'&name='+file.name;
			
             //this.url += '&vname=' + file.name;
       },
		
		UploadComplete: function(up, files) {
		   eric.request.ajaxLoad('/product/manage/ProductFiles','uploaded_files',{id:pid});
		   $('div.plupload_buttons').show();
		},
		
		Destroy: function(up) {
		},
		
		Error: function(up, args) {
		}
	}
});

<%/if%>
<%/javascript%>  