<div class="span12">
        <h3 class="heading">产品信息</h3>
		<div class="row-fluid">
			
				<%form id="form_product_info" name="form_product_info" action="/product/manage/edit" method="POST" class="form-horizontal"%>
					<div class="span12">
					<fieldset>
						<div class="tabbable tabbable-bordered">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#base_info" data-toggle="tab">基本信息</a></li>
							<!-- <li><a href="#publish_info" data-toggle="tab">发行信息</a></li> -->	
								<li><a href="#extra_info" data-toggle="tab">扩展信息</a></li>
								<%if $product->product_id%>
								<li><a href="#files" data-toggle="tab">上传附件</a></li>
								<%/if%>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="base_info">
								<%require file='product.manage.base_info'%>
								</div>
								
								<div class="tab-pane" id="extra_info">
								<%require file='product.manage.extra_info'%>
								</div>
								<%if $product->product_id%>
								<div class="tab-pane" id="files">
								<%require file='product.manage.files'%>
								</div>
								<%/if%>
							</div>
						</div>
						<br>
						
					
					
					</fieldset>
					<fieldset>
						<input type="hidden" name="product_id" id="product_id" value="<%$product->product_id%>">
						<input type="hidden" id="status" name="status" value="0"/>
					</fieldset>
					<div class="control-group" align="left">
							<div class="controls">
								<%if !$product->product_id or $product->status == 0%>
								<button type="submit" class="btn btn-gebo">保存草稿 </button>
								<button type="button" id="bnt_send" class="btn btn-gebo">提交审批</button>
								<%/if%>
								<button type="button" class="btn" onClick="eric.common.go();">返回</button>
							</div>
					</div>
					</div>
					
				<%/form%>
			
		</div>
</div>

<%asset css="lib/datepicker/datepicker.css"%>
<%asset js="lib/datepicker/bootstrap-datepicker.min.js"%>
<%javascript%>  



$("#bnt_send").click(function(){
	$("#status").val(1);
	$("#form_product_info").submit();
});

<%/javascript%>