<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>客户名</th>
			<th>预约金额（万）</th>
			<th>实际金额（万）</th>
			<th>确认状态</th>
		</tr>
	</thead>
	<tbody>
		<%foreach from=$data item=item%>
		<tr>
			<td><%$item->customer->name%></td>
			<td><%$item->appoint_account%></td>
			<td><%$item->real_account%></td>
			<td>
				<%$item->status_name%>
				<%if $item->status != 99%>&nbsp;&nbsp;&nbsp;&nbsp;
				<select onChange="checkProduct(<%$item->ps_id%>)" class="span6" onChange="check" id='status_<%$item->ps_id%>' name='status_<%$item->ps_id%>'>
					<option>操作</option>
					<%foreach $status.opt as $s => $v%>
						<%if $s == $item->status+1%>
						<option value='<%$s%>'><%$v%></option>
						<%/if%>
					<%/foreach%>
				</select>
				<%/if%>
			</td>
		</tr>
		<%/foreach%>
		
	</tbody>
</table>