<div role="grid" class="dataTables_wrapper form-inline" id="dt_gal_wrapper">
        <div class="row">
        	<div class="span6">
        		<a title="添加产品" href="/product/manage/info" class="btn "><i class="splashy-documents_add"></i></a>
    			<div  class="dataTables_length">
		
    			</div>
    		</div>
    	</div>
        
		<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>产品名称</th>
					<th>产品金额</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<%foreach from=$products item=item%>
				<tr>
					<td><%$item->product_id%></td>
					<td><%$item->name%></td>
					<td><%$item->fund_size%></td>
					<td><%$item->status_name%></td>
					<td class=" ">
						<%if $item->status<1%>
						<a title="修改" class="splashy-hcard_edit" href="/product/manage/info?id=<%$item->product_id%>"></a>
						<%/if%>
						
						<%if $item->status == 99%>
						<a title="销售明细" class="splashy-documents_share" href="/product/manage/ProductDetail?id=<%$item->product_id%>"></a>
						<%/if%>
						
						<%if $item->status > 0 && $item->status < 99%>
						<a title="审核" class="splashy-box_okay" href="/product/manage/static?id=<%$item->product_id%>"></a>
						<%/if%>
					</td>
				</tr>
				<%/foreach%>
				
			</tbody>
		</table>
	</div>