<div class="control-group formSep">
	<div class="span5">
		<%input name='start_date' obj=$publish%>
	</div>
	<div class="span5">
		<%input name='end_date' obj=$publish%>
	</div>
</div>
<div class="control-group formSep">
	<div class="span5">
		<%input_addon span=12 name='personal_threshold' obj=$publish after="万"%>
	</div>
	<div class="span5">
		<%input_addon span=12 name='origin_threshold' obj=$publish after="万"%>
	</div>
</div>
<div class="control-group formSep">
	<div class="span5">
		<%input name='bank_account' obj=$publish%>
	</div>
	<div class="span5">
		<%input name='bank_name' obj=$publish%>
	</div>
</div>
<div class="control-group formSep">
	<div class="span5">
		<%input name='bank_address' obj=$publish%>
	</div>
</div>

<%javascript%>
eric.common.datepicker('start_date');
eric.common.datepicker('end_date');
<%/javascript%>