<%require file="product.manage.approval_note"%>
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">产品详情</h3>
		<div class="row-fluid">
					
					<div class="control-group" align="right">
						<div class="controls">
							<%if $power && $product->status>0%>
							<a data-toggle="modal" data-backdrop="static" href="#approval_pass" class="btn btn-gebo">通   过</a>
							<a data-toggle="modal" data-backdrop="static" href="#approval_reject" class="btn btn-gebo">驳   回 </a>
							<%/if%>
							<button type="button" class="btn" onClick="eric.common.go();">返回</button>
						</div>
					</div>
			<div class="span12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#base_info" data-toggle="tab">基本信息</a></li>
					<li><a href="#publish_info" data-toggle="tab">发行信息</a></li>
					<li><a href="#extra_info" data-toggle="tab">扩展信息</a></li>
					<li><a href="#files" data-toggle="tab">上传附件</a></li>
					<li><a href="#aprroval_info" data-toggle="tab">审批记录</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="base_info">
						
						<%require file="product.manage.base_info_static"%>
					</div>
					<div class="tab-pane" id="publish_info">
						<%require file="product.manage.publish_info_static"%>
					</div>
					<div class="tab-pane" id="extra_info">
						<%require file="product.manage.extra_info_static"%>
					</div>
					<div class="tab-pane" id="extra_info">
						<%require file="product.manage.extra_info_static"%>
					</div>
					<div class="tab-pane" id="files">
						<%require file='product.manage.static_files'%>
					</div>
					<div class="tab-pane" id="aprroval_info">
						<%require file="product.manage.aprroval_info_static"%>
					</div>
				</div>		
				
			</div>
		</div>	
    </div>
</div>

<%asset css="lib/stepy/css/jquery.stepy.css"%>

<%javascript%>
$("#bnt_pass").click(function(){
	$("#pass_type").val(1);
	$("#form_product_info").submit();
});

$("#bnt_reject").click(function(){
	$("#pass_type").val(-1);
	$("#form_product_info").submit();
});
<%/javascript%>