<%form id="form_file_info" name="form_file_info" action="/product/manage/deleteFile" method="POST" class="form-horizontal"%>
<div role="grid" class="dataTables_wrapper form-inline" id="uploadedfiles">
		<table id="smpl_tbl" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>文件名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<%foreach from=$files item=item%>
				<tr>
					<td><%$item->file_name%></td>
					<td class=" ">
						<%if $static%>
							<a title="下载" id="download_file" class="sepV_a" href="/product/manage/downFile?id=<%$item->file_id%>" ><i class="splashy-download"></i></a>
						
						<%else%>
						
							<a title="删除" id="delete_file" class="sepV_a" href="#" onClick="deleteFile(<%$item->file_id%>)"><i class="splashy-folder_stuffed_remove"></i></a>
						
						<%/if%>
						
					</td>
				</tr>
				<%/foreach%>
				
			</tbody>
		</table>
	</div>
	<br><br>
<input type="hidden" id="file_id" name="file_id" value=""/>
<%/form%>
<script type="text/javascript">
function deleteFile(id)
{
	$("#file_id").val(id);
	$("#form_file_info").submit();
}
</script>